body {
    margin: 0;
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15vw;
    border-bottom: #2d2d2d solid 1px;
}

.left {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.left a {
    display: flex;
    padding-top: 5px;
}

.logo {
    width: auto;
    height: 40px;
}

.username {
    font-weight: 600;
    color: inherit;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.right a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    padding: 0 1.2vw;
    height: 45px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}   

.right a:hover {
    background-color: #181818;
}

.right button {
    padding: 0 20px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: #6454f0;  
    color: inherit;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.right button:hover {
    background-color: #392cae;  
}

.right i {
    display: none;
}

main {
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 78vh;
    margin: 0;
    background-color: #080808;
}

main img {
    width: auto;
    height: 60px;
}

main p {
    color: #b6b6b6;
    font-size: 0.95rem;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    width: 600px;
    height: 55px;
    border-radius: 10px;
    background-color: #212121;
    margin: 4vh 0 0 0;
    transition: background-color 0.1s ease;
}

.search:hover {
    background-color: #181818;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 1.1rem;
    padding: 0 4.5vw;
    max-width: 600px;
    width: 80%;
}

.search button {
    border: none;
    background-color: #6454f0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    height: inherit;
    border-radius: 0 10px 10px 0;
    padding: 0 25px;
    font-size: 1.25rem;
    transition: background-color 0.1s ease;
}

.search button:hover {
    background-color: #392cae;
}

article {
    padding: 0 18vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #080808;
}

article h2 {
    font-size: 1.9rem;  
    margin: 5px 0;
}

article p {
    margin: 0;
    color: #b6b6b6;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modalContent {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    position: relative;
}

.modalContent button {
    background: none;
    border: none;
    color: #555555;
    font-size: 1.5rem;
    cursor: pointer;
}

.modalHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalHeader h2 {
    margin: 0;
    text-align: center;
    color: #6454f0;
}

.closeButton {
    position: absolute;
    right: 0;
    color: #aaa;
    cursor: pointer;
    border: none;
}

.closeButton:hover {
    color: #121212;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.modalBody input {
    padding: 13px 10px 13px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 86%;
    background-color: transparent;
    color: black;
    font-size: 1rem;
}

.modalBody input::placeholder {
    color: rgb(112, 109, 163);
}

.modalBody i {
    color: #6454f0;
    padding: 0 10px;
}

.modalBody a {
    cursor: pointer;
}

.modalPass button, .repeatPass button {
    background-color: transparent;
    padding: 0;
    font-size: 1.1rem;
}

#loginButton, #registerButton {
    background-color: #6454f0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.1s ease;
}

#loginButton:hover, #registerButton:hover {
    background-color: #392cae;
}

.modalBody p {
    color: black;
    font-size: 0.95rem;
    margin: 10px 0 0 0;
}

.modalBody a {
    text-decoration: none;
    color: #6454f0;
    font-size: 0.95rem;
}

.modalBody a:hover {
    color: #392cae;
}

.modalUser, .modalPass, .repeatPass {
    background-color: #e5dbf4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 9%;
    font-weight: 200;
    font-size: 0.9rem;
    color: lightgray;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0;
    bottom: 0;
    width: 100%;
    border-top: #2d2d2d solid 1px;
    padding: 5px 0;
}

footer a {
    color: lightgray;
    margin: 0 10px;
    font-size: 1.3rem;
    display: inline-block;    
    transition: color 0.2s ease;
}

footer a:hover {
    color: #8e8e8e;
}

@media (max-width: 650px) {
    nav {
        padding: 15px 15px;
    }

    .nav-text {
        display: none !important;
    }

    .username {
        display: none !important;
    }
    
    .logo {
        height: 40px;
    }

    .right {
        gap: 0;
    }

    .right button {
        width: 45px;
        height: 45px;
        padding: 0;
    }

    .right a {
        width: 45px;
        margin: 0 7px 0 0;
        padding: 0;
    }

    .right i {
        display: block;
        color: white;
        font-size: 1.3rem;
    }

    main {
        padding: 0 15px;
        margin: 0 0 60px 0;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    article {
        padding: 0 15px 50px 15px;
    }

    .modalContent {
        margin: 0 15px;
    }

    footer a {
        font-size: 1.2rem;
        margin: 0 5px;
    }
}