html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15vw;
}

.left {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.left a {
    display: flex;
    padding-top: 5px;
}

.logo {
    width: auto;
    height: 40px;
}

.search {
    display: flex;
    align-items: center;
    width: 450px;
    height: 45px;
    border-radius: 50px;
    background-color: #212121;
}

.search:hover {
    background-color: #181818;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font: inherit;
    padding: 0 30px;
    max-width: 450px;
    width: 80%;
}

.search button {
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    height: inherit;
    padding: 0 30px;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.right a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    padding: 0 1.2vw;
    height: 5.5vh;
    border-radius: 50px;
}   

.right a:hover {
    color: #ffffffc6;
}

.right i {
    display: none;
}

.username {
    font-weight: 600;
    color: inherit;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.searchButton {
    width: 30px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.searchButton i {
    color: white;
}

#signIn {
    padding: 0 20px;
    height: 45px;
    border: none;
    border-radius: 50px;
    background-color: #6454f0;  
    color: inherit;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#signIn:hover {
    background-color: #392cae;
}

.mobileSearchContainer {
    display: none;
    width: 100%;
    background-color: #080808;
    padding: 10px 250px;
    box-sizing: border-box;
}

.mobileSearch {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: #212121;
}

.mobileSearch input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 0 20px;
    font-size: 1rem;
}

.mobileSearch button {
    border: none;
    background: transparent;
    color: white;
    padding: 0 20px;
    cursor: pointer;
}

main {
    padding: 0 20vw;
    flex: 1;
}

main h2 {
    font-size: 1.7rem;
}

.movieContainer {
    display: flex;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: space-between;
}

.movieButtons {
    display: flex;
}

.movieButtons button{
    font-size: 1.5rem;
    font-weight: 600;
    color: #6454f0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.movieCard {
    display: flex;
    gap: 2vw;
}

.movieCard img {
    height: 280px;
    width: 180px;
    border-radius: 5px;
    object-fit: cover;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movieInfo h4 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
}

.movieInfo p {
    margin: 1px 0;
    color: #ccc;
    font-size: 0.8rem;
}

.movieButtons {
    display: flex;
}

.movieButtons button{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #6454f0;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.movieButtons button:hover {
    background-color: #6454f033;
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.infoContainer {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.infoCard {
    position: relative;
    background: #1c1c1c;
    color: white;
    width: 650px;
    padding: 20px;
    border-radius: 12px;
    z-index: 1001;
    animation: fadeIn 0.3s ease;
}

.infoCard p {
    font-size: 0.92rem;
}

.infoHeader {
    display: flex;
    gap: 20px;
}

.infoHeader img {
    width: 110px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.infoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vh 1vw 1vh 0;
}

.infoContent h2 {
    margin: 0;
    font-size: 1.4rem;
}

.infoContent p {
    margin: 3px;
}

.infoPlot {
    margin-top: 20px;
}

.closeInfo {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

@keyframes fadeIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

footer {
  height: 9%;
  font-weight: 200;
  font-size: 0.9rem;
  color: lightgray;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  margin-top: 10vh;
}

footer a {
  color: lightgray;
  margin: 0 10px;
  font-size: 1.3rem;
  display: inline-block;
}

@media (max-width: 1400px) {
    .search {
        display: none;
    }

    .searchButton i {
        display: block  ;
    }
}

@media (max-width: 850px) {
    nav {
        padding: 15px 15px;
    }

    .nav-text {
        display: none !important;
    }

    .username {
        display: none !important;
    }
        
    .logo {
        height: 30px;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    .right i {
        display: block;
        color: white;
        font-size: 1.05rem;
    }

    .right {
        gap: 12px;
    }

    #signIn {
        width: 45px;
        height: 45px;
        padding: 0;
    }

    main {
        padding: 0 15px;
    }

    .movieContainer {
        gap: 40px
    }

    .movieCard img {
        height: 130px;
        width: 80px;
    }

    .movieInfo h4 {
        font-size: 0.95rem;
    }

    .movieInfo p {
        font-size: 0.6rem;
        margin: 0;
    }

    .movieButtons button {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .modalContent {
        margin: 0 15px;
    }

    .infoCard {
        margin: 0 15px;
    }

    .mobileSearchContainer {
        padding: 0 50px;
    }

    footer a {
        font-size: 1.1rem;
        margin: 0 5px;
    }
}